video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.hero-container {
  /* background: url(../components/images_for_css/img-1.jpg) center center/cover
    no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 000 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
.header-title {
  transform: rotate(-90deg);
  margin-top: 25px;
}

.header-title-pack {
  padding: 15px;
  transform: rotate(30deg);
  transition: all 2s ease-in-out;
}
.header-title-your {
  padding: 15px;
  transform: rotate(30deg);
  transition: all 2s ease-in-out;
}
.header-title-bags {
  padding: 15px;
  transform: rotate(30deg);
  transition: all 2s ease-in-out;
}

.header-title > h1 {
  color: #fff;
  font-size: 50px;
}

.road-icon {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
}

.hero-container > p {
  margin-top: 8 px;
  color: #fff;
  font-size: 26px;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.airplane {
  width: 200px;
  margin-top: 50px;
  margin-bottom: 35px;
  transform: translate(-50vw, 0vw);

  animation-name: logo-fly-in, logobump;
  animation-duration: 4s, 5s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-delay: 0s, 4.5s;
  animation-fill-mode: both, none;

  transition-timing-function: ease-in;

  opacity: 0.5;
}

@keyframes logo-fly-in {
  0% {
    transform: translate(-60vw, 0);
    opacity: 0.1;
  }

  100% {
    transform: translate(0, 0);
    opacity: 0.9;
  }
}

@keyframes logobump {
  0%,
  100% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(0px, -72px);
    transform: scale(1.5);
  }

  50% {
    transform: translate(0px, 108px);
  }

  75% {
    transform: translate(0px, -30px);
  }
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
